<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="{{application.locales.html_language}}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{application.locales.html_language}}"> <!--<![endif]-->
    <head>
        <!-- Meta -->
        <meta charset="{{application.locales.html_charset}}" />
		
        <!-- Set the viewport width to device width for mobile -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		
        <title>{{application.title}}</title>
		
        <!-- CSS, feeds and favicon -->
		<link href="{{application.url.base}}{{application.favico.url}}" rel="shortcut icon" type="{{application.favico.format}}">
		<!-- <link href="{{application.url.base}}../modules/home/public/css/app.css" rel="stylesheet" type="text/css" media="all"> SHOULD BE LOADED AFTER BACKEND CSS -->
		<style>
			.devapt_validate_error {
				border:2px solid red;
			}
		</style>
		
        <!-- JavaScript -->
        <script type="text/javascript" src="{{application.url.base}}../../devapt-client/lib/require-2.1.10/require.min.js"></script>
        <script type="text/javascript" src="{{application.url.base}}../../devapt-client/src/js/bootstrap.js"></script>
		
        <!-- IE Fix for HTML5 Tags -->
        <!--[if lt IE 9]>
        <script src="{{application.url.base}}../../devapt-client/lib/html5shiv-3.6.2/html5shiv.js"></script>
        <![endif]-->
    </head>
	
	
    <body>
        <!-- Header -->
        <header id="page_header_id" class="row devapt_display devapt_page_header">
			<div id="menubars_id">
			</div>
			<article id="breadcrumbs_id" class='devapt_display' style="margin-top:20px;">
			</article>
        </header>
		
		<!-- Views container -->
		<article id="page_content_id" class='row devapt_display devapt_page_content'>
		