*.log
*.session
*.cache
.*.json
.settings
.project
.buildpath
npm-debug.log

jsconfig.json
.vscode/launch.json
.vscode/settings.json
.vscode/taskss.json

.vscode
docs/api
docs/html
docs/html_part
dist
tmp
unused
node_modules

db_connexions.ini
unused_*
todo_*
old_*
iconmonst*