{br}	{bct}<h1>Views demo - simple views:label, panel, list{ect}{er}{br}	{b9c}		<div style="margin:5px;padding:5px;">{bct}A inline free tag{ect}</div>		{test_tag}		<hr>		{bct}A label{ect}		{view1}		<hr>		{bct}A panel{ect}		{view2}	{ec}	{b3c}		<div style="margin:5px;padding:5px;">{bct}A label{ect}</div>		{view3}	{ec}{er}{br}	{b6c}		{bct}A list of html items with 	a sub list{ect}		{view4}	{ec}	{b6c}		{bct}A list of text items{ect}		{view5}	{ec}{er}{br}	{bct}A list of views (label 1, panel 1, label 2, list 1){ect}	{view6}{er}