<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="{{application.locales.html_language}}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{application.locales.html_language}}"> <!--<![endif]-->
    <head>
        <!-- Meta -->
        <meta charset="{{application.locales.html_charset}}" />
		
        <!-- Set the viewport width to device width for mobile -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		
        <title>{{application.title}}</title>
		
        <!-- CSS, feeds and favicon -->
	    <link href="{{application.favico.url}}" rel="shortcut icon" type="{{application.favico.format}}">
		
        <!-- JavaScript -->
        <script type="text/javascript" src="{{application.url.base}}../../devapt-client/lib/require-2.1.10/require.min.js"></script>
        <script type="text/javascript" src="{{application.url.base}}/home/public/js/app.js"></script>
		
        <!-- IE Fix for HTML5 Tags -->
        <!--[if lt IE 9]>
        <script src="{{application.url.base}}../../devapt-client/lib/html5shiv-3.6.2/html5shiv.js"></script>
        <![endif]-->
    </head>
	
	
    <body>
        <!-- Header -->
        <header id="header" class="row">
			
            <!-- Logo -->
            <div class="three mobile-two columns" id="logo">
                <h1>
                    <a href="/" title="">
                        <img src="{{application.url.base}}{{application.layouts.default.logo.url}}" width="173" height="41" alt="{{application.layouts.default.logo.alt}}">
                    </a>
                </h1>
            </div>

            <!-- Menu -->
            <div class="six mobile-two columns" id="menu">
                <nav class="top-bar">
					{{HOME_MENUBAR}}
                </nav>
           </div>
        </header>